.elements {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  gap: 20px 16px;
}

@media screen and (max-width: 899px) {

  
  .elements {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    width: 282px;
    margin-top: 36px;
  }
}