.popup {
  position: fixed;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: visibility .6s,opacity .6s ease;
  visibility: hidden;
  width: 100%;
  
}
